<h1>Beddit - The Front Page of Your Bed</h1>

<ol>
  <% @posts.each do |post| %>

  <li><h3><%= post.url %></h3>
    (posted by <%= link_to post.user.username, user_url(post.user) %>)
  </li>

<% end %>
</ol>
